In [1]:
%load_ext autoreload
%autoreload 2

import os
os.chdir("../../")
print(os.getcwd())

C:\Users\Milosz\thesis-recsys

In [2]:
import pandas as pd

In [3]:
edge_index = pd.read_csv('./data/recommendations.csv')
users = pd.read_csv("./data/users.csv")
items = pd.read_csv("./data/items.csv")

In [4]:
edge_index.shape[0]

11480212

In [5]:
edge_index['user_id'].nunique()

6053352

In [6]:
edge_index['app_id'].nunique()

1874

In [7]:
edge_index_sorted = edge_index.sort_values(by='date')

In [8]:
supervision_ratio = 0.2
validation_ratio = 0.3


split_training = 1.0 - supervision_ratio - validation_ratio
training_split_point = int(edge_index_sorted.shape[0] * split_training)
supervision_split_point = int(edge_index_sorted.shape[0] * (split_training + supervision_ratio))

df_train = edge_index_sorted[:training_split_point]
df_supervision = edge_index_sorted[training_split_point:supervision_split_point]
df_valid = edge_index_sorted[supervision_split_point:]

In [12]:
edge_index_sorted

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id
10362775,31170,2,0,2010-10-15,True,0.6,3007737,10362775
10780073,60,0,0,2010-10-15,True,0.6,4261301,10780073
10982229,35130,0,0,2010-10-15,True,12.9,3248397,10982229
9007734,220,7,2,2010-10-15,True,57.5,4877354,9007734
5973921,550,8,0,2010-10-15,True,128.0,3217208,5973921
...,...,...,...,...,...,...,...,...
2997434,242760,2,0,2022-12-31,True,19.0,528388,2997434
3650085,582660,0,0,2022-12-31,True,509.1,4251706,3650085
11175487,646910,2,0,2022-12-31,True,409.2,3065107,11175487
2399038,1203220,0,0,2022-12-31,True,13.3,2967549,2399038
96840,1987080,2,0,2022-12-31,False,1.1,1044060,96840

In [9]:
df_train.shape[0], df_supervision.shape[0], df_valid.shape[0]

(5740106, 2296042, 3444064)

In [10]:
df_train['user_id'].nunique(), df_supervision['user_id'].nunique(), df_valid['user_id'].nunique()

(3409266, 1688724, 2389891)

In [11]:
df_train['app_id'].nunique(), df_supervision['app_id'].nunique(), df_valid['app_id'].nunique()

(1232, 1486, 1868)

In [13]:
data = pd.read_pickle("./data/steam/data.pkl")

In [19]:
data['relations_datastore'].dataframe.train.shape[0], \
data['relations_datastore'].dataframe.supervision.shape[0], \
data['relations_datastore'].dataframe.valid.shape[0]

(4887629, 550450, 432251)

In [20]:
data['users_datastore'].dataframe.df.describe()

           products       reviews
count  3.066721e+06  3.066721e+06
mean   1.824968e+02  2.373826e+00
std    3.266556e+02  3.087150e+00
min    0.000000e+00  1.000000e+00
25%    4.200000e+01  1.000000e+00
50%    1.000000e+02  1.000000e+00
75%    2.110000e+02  3.000000e+00
max    2.930800e+04  2.780000e+02

In [29]:
data['relations_datastore'].dataframe.train['user_id'].nunique(), \
data['relations_datastore'].dataframe.supervision['user_id'].nunique(), \
data['relations_datastore'].dataframe.valid['user_id'].nunique()

(3066721, 364678, 289163)

In [30]:
data['relations_datastore'].dataframe.train['app_id'].nunique(), \
data['relations_datastore'].dataframe.supervision['app_id'].nunique(), \
data['relations_datastore'].dataframe.valid['app_id'].nunique()

(1231, 1218, 1214)

In [33]:
data['relations_datastore'].scheme.features

[SparseFeat(name='user_id', map=None, num_emb=3066721, index=None, pad_index=None),
 SparseFeat(name='app_id', map=None, num_emb=1231, index=None, pad_index=None)]